.Button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 2px solid #74C0FC;
  background-color: white;
  border-radius: 12px;
  margin: 0.2rem;
  box-shadow: 0rem 0.2rem #74C0FC;
  font-weight: bold;
  color: #183153;
}

.Button:hover,
.Button:active {
  background-color: #c6cbd3;
}
